body {
  margin: 2rem;
  padding: 0;
  box-sizing: border-box;
}

form > input {
  margin-bottom: 10px;
}

li {
  list-style: none;
}

.books-container {
  border: 2px solid black;
  width: 50vw;
}

.btn {
  border: 1px solid black;
}

.btn:hover {
  border: 2px solid #2e2e2e;
}
