body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form > input {
  margin-bottom: 10px;
}

li {
  list-style: none;
}

.section-title {
  position: relative;
}

.date {
  top: 80px;
  right: 10px;
}

.books-container {
  border: 2px solid black;
  width: 50vw;
}

.btn {
  border: 1px solid black;
}

.btn:hover {
  border: 2px solid #2e2e2e;
}

ul {
  margin-bottom: 0;
}

.active {
  color: blue;
}

.desactive {
  color: #2e2e2e;
}
